:root {
  --bg-light: #ffffff;
  --text-light: #1a1a1a;
  --bg-dark: #0b0f14;
  --text-dark: #eaeaea;
  --accent: #1e90ff;
  --max-width: 1300px;
  --min-width: 960px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.width-control {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: auto;
}

body.light {
  background: var(--bg-light);
  color: var(--text-light);
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

/* LOGO */
.logo-img {
    height: 60px;
    width: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  background: inherit;
  backdrop-filter: blur(8px); 
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

.navbar nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.navbar button {
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* GALLERY SECTION */
.gallery-section {
  padding: 4rem 2rem;
  text-align: center;
}

.gallery-title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

/* GRID */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 290px);
  margin-top: 60px;
  gap: 20px;
  left: auto;
  right: auto;
  padding: 10px;
  width: 100px;
}

/* ITEM */
.gallery-item {
  overflow: hidden;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.05);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  cursor: pointer;
}

body.light .gallery-item {
  background: rgba(0,0,0,0.05);
}

/* IMAGE */
.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s ease;
}

/* HOVER EFFECT */
.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
  font-size: 0.9rem;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #0f172a;
  color: white;
  max-width: var(--max-width);
  min-width: var(--min-width);
}